@model Category
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Update</h1>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <form method="post" asp-area="Admin" asp-controller="Category" asp-action="Update">
                <label class="form-label">Category Name</label>
                <input type="text" class="form-control" asp-for="CategoryName" placeholder="Kategori adı giriniz">
                <label class="form-label">Description</label>
                <input type="text" class="form-control" rows="3" asp-for="Description" placeholder="Açıklama giriniz">
                <label class="form-label">Aktiflik Durumu</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="IsActive" id="exampleRadios1" value="True" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Aktif
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="IsActive" id="exampleRadios2" value="False">
                    <label class="form-check-label" for="exampleRadios2">
                        Pasif
                    </label>
                    </div>
                <button class="btn btn-primary mt-3" type="submit">Güncelle</button>
            </form>
        </div>
    </div>
</div>

